{% extends 'base.html' %} {% load static %} {% block content %}
<!--Page Title-->
<section
  class="page-title"
  style="background-image: url(/static/images/background/5.jpg)"
>
  <div class="auto-container">
    <h1>Register Now</h1>
  </div>
  <!--Page Info-->
  <div class="page-info">
    <div class="auto-container clearfix">
      <ul class="bread-crumb clearfix">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li>Register</li>
      </ul>
    </div>
  </div>
</section>
<!--End Page Title-->

<!-- Contact Info Section -->
<section class="contact-info-section alternate">
  <div class="auto-container"></div>
</section>
<!-- End Contact Info -->
{% include 'partials/_alerts.html' %}

<!-- Contact Form  -->
<section class="contact-form-section">
  <div class="auto-container">
    <div class="contact-form">
      <!--Contact Form-->
      <form
        method="POST"
        action="{% url 'register' %}"
        id="contact-form"
        novalidate
      >
        {% csrf_token %}
        <div class="row clearfix">
          <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="form-group">
              <input
                type="text"
                name="first_name"
                placeholder="Fist Name"
                required=""
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                name="last_name"
                placeholder="Last Name"
                required=""
              />
            </div>

            <div class="form-group">
              <input
                type="email"
                name="username"
                placeholder="Email"
                required=""
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                name="email"
                placeholder="Phone Number"
                required=""
              />
            </div>
          </div>

          <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="form-group">
                <input
                  type="password"
                  name="password"
                  placeholder="password"
                  required=""
                />
              </div>

              <div class="form-group">
                <input
                  type="password"
                  name="cpassword"
                  placeholder="password confirm"
                  required=""
                />
              </div>
            </div>
            <div class="form-group text-right">
              <button
                class="theme-btn btn-block btn-style-three"
                type="submit"
                name="submit-form"
              >
                Submit Now
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}
