{% extends 'base.html' %} {% load static %} {% block content %}
<!--Main Slider-->
<section class="main-slider">
  <div
    class="rev_slider_wrapper fullwidthbanner-container"
    id="rev_slider_one_wrapper"
    data-source="gallery"
  >
    <div
      class="rev_slider fullwidthabanner"
      id="rev_slider_one"
      data-version="5.4.1"
    >
      <ul>
        <!-- Slide 1 -->
        <li
          data-description="Slide Description"
          data-easein="default"
          data-easeout="default"
          data-fsmasterspeed="1000"
          data-fsslotamount="7"
          data-fstransition="fade"
          data-hideafterloop="0"
          data-hideslideonmobile="off"
          data-index="rs-1688"
          data-masterspeed="default"
          data-saveperformance="off"
          data-slotamount="default"
          data-thumb="/static/images/main-slider/image-2.jpg"
          data-title="Slide Title"
          data-transition="parallaxvertical"
        >
          <img
            style="height: 200px !important"
            alt=""
            class="rev-slidebg"
            data-bgfit="cover"
            data-bgparallax="10"
            data-bgposition="center top"
            data-bgrepeat="no-repeat"
            src="static/images/main-slider/image-1.jpg"
          />

          <div
            class="tp-caption"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingtop="[0,0,0,0]"
            data-responsive_offset="on"
            data-type="text"
            data-height="none"
            data-width="['600','560','560','560']"
            data-whitespace="normal"
            data-hoffset="['15','15','15','15']"
            data-voffset="['-100','-100','-90','-75']"
            data-x="['left','left','left','left']"
            data-y="['middle','middle','middle','middle']"
            data-textalign="['top','top','top','top']"
            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            style="z-index: 7"
          >
            <div>
              <strong style="font-size: 50px; color: white"
                >Nutrition Expert system </strong
              > <br /><br /><br />
              <span
                style="font-size: 50px; color: white"
                class="theme_color style-font"
                >Chatbot!</span
              >
            </div>
          </div>

          <div
            class="tp-caption"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingtop="[0,0,0,0]"
            data-responsive_offset="on"
            data-type="text"
            data-height="none"
            data-whitespace="normal"
            data-width="['550','600','550','550']"
            data-hoffset="['15','15','15','15']"
            data-voffset="['40','0','10','5']"
            data-x="['left','left','left','left']"
            data-y="['middle','middle','middle','middle']"
            data-textalign="['top','top','top','top']"
            data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
          >
            <div class="text">Hypertitis, Diabetis, Ulcer</div>
          </div>

          <div
            class="tp-caption tp-resizeme"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingtop="[0,0,0,0]"
            data-responsive_offset="on"
            data-type="text"
            data-height="none"
            data-width="['550','600','550','550']"
            data-whitespace="normal"
            data-hoffset="['15','15','15','15']"
            data-voffset="['160','105','90','95']"
            data-x="['left','left','left','left']"
            data-y="['middle','middle','middle','middle']"
            data-textalign="['top','top','top','top']"
            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            style="z-index: 7; white-space: nowrap; text-transform: left"
          >
            <a href="about.html" class="theme-btn btn-style-one">Learn More</a>
            <a href="contact.html" class="theme-btn btn-style-two"
              >Contact Us</a
            >
          </div>
        </li>

        <!-- Slide 2 -->
        <li
          data-description="Slide Description"
          data-easein="default"
          data-easeout="default"
          data-fsmasterspeed="1000"
          data-fsslotamount="7"
          data-fstransition="fade"
          data-hideafterloop="0"
          data-hideslideonmobile="off"
          data-index="rs-1689"
          data-masterspeed="default"
          data-saveperformance="off"
          data-slotamount="default"
          data-thumb="static/images/main-slider/image-2.jpg"
          data-title="Slide Title"
          data-transition="parallaxvertical"
        >
          <img
            alt=""
            style="height: 200px !important"
            class="rev-slidebg"
            data-bgfit="cover"
            data-bgparallax="10"
            data-bgposition="center center"
            data-bgrepeat="no-repeat"
            src="static/images/main-slider/image-2.jpg"
          />

          <div
            class="tp-caption"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingtop="[0,0,0,0]"
            data-responsive_offset="on"
            data-type="text"
            data-height="none"
            data-width="['800','560','560','560']"
            data-whitespace="normal"
            data-hoffset="['500','400','300','100']"
            data-voffset="['-100','-100','-90','-75']"
            data-x="['left','left','left','left']"
            data-y="['middle','middle','middle','middle']"
            data-textalign="['top','top','top','top']"
            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            style="z-index: 7"
          >
            <h2 class="style2">
              <strong>Hypertitis, Diabetis & ulcer</strong> 
              <span class="style-font">Health Advisor!</span>
            </h2>
          </div>

          <div
            class="tp-caption"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingtop="[0,0,0,0]"
            data-responsive_offset="on"
            data-type="text"
            data-height="none"
            data-whitespace="normal"
            data-width="['550','600','550','550']"
            data-hoffset="['500','400','300','100']"
            data-voffset="['40','0','10','5']"
            data-x="['left','left','left','left']"
            data-y="['middle','middle','middle','middle']"
            data-textalign="['top','top','top','top']"
            data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
          >
            <div class="text" style="color: #222222">
              How Efficiency You Can Lead Your Life In Food
            </div>
          </div>

          <div
            class="tp-caption tp-resizeme"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingtop="[0,0,0,0]"
            data-responsive_offset="on"
            data-type="text"
            data-height="none"
            data-width="['550','600','550','550']"
            data-whitespace="normal"
            data-hoffset="['500','400','300','100']"
            data-voffset="['160','105','90','95']"
            data-x="['left','left','left','left']"
            data-y="['middle','middle','middle','middle']"
            data-textalign="['top','top','top','top']"
            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            style="z-index: 7; white-space: nowrap; text-transform: left"
          >
            <a href="about.html" class="theme-btn btn-style-one">Learn More</a>
            <a href="contact.html" class="theme-btn btn-style-two"
              >Contact Us</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--End Main Slider-->

<!-- Welcome Section -->
<section class="welcome-section">
  <div class="auto-container">
    <div class="sec-title text-center">
      <h2>Welcome to the <strong>Nutrition Expert System</strong></h2>
      <span>Highest level of service you can find</span>
    </div>
    <div class="row clearfix">
      <!-- Img Column -->
      <div class="image-column col-md-6 col-sm-6 col-xs-12">
        <div class="image-box">
          <figure>
            <img src="{% static 'images/resource/welcome-img.jpg' %}" alt="" />
          </figure>
        </div>
      </div>
      <!-- coontent Column -->
      <div class="content-column col-md-6 col-sm-6 col-xs-12">
        <div class="content-box">
          <div class="text">
            Our focus is on your overall well being and helping you achieve
            optimal health and esthetics. We handpick the best nutrition health
            idesa into a chatbot that can be access across the globe to make
            sure you get the most personalized health care.
          </div>

          <!-- about-block -->
          <div class="about-block">
            <div class="inner-box">
              <div class="icon-box">
                <span class="flaticon-diploma"></span>
              </div>
              <div class="content-box">
                <h3><a href="{% url 'about' %}">Our Mission</a></h3>
                <p>
                  Explain to you how you can transform health through nutrition
                  diet change habit.
                </p>
              </div>
            </div>
          </div>

          <!-- about-block -->
          <div class="about-block">
            <div class="inner-box">
              <div class="icon-box">
                <span class="flaticon-target"></span>
              </div>
              <div class="content-box">
                <h3><a href="about.html">Our Vision</a></h3>
                <p>
                  <ul>
                    <li>Efficient Workout</li>
                    <li>Right Food To Eat</li>
                    <li>Diet Plan</li>
                  </ul>
                 
                </p>
              </div>
            </div>
          </div>
          <div class="btn-box">
            <a href="{% url 'about' %}" class="theme-btn btn-style-three">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Welcome Section -->

<!-- Why Us -->
<section class="why-choose-us">
  <div class="auto-container">
    <div class="sec-title text-center">
      <h2>Why people need a <strong>Health boy</strong></h2>
      <span>What We Do in Health bot</span>
    </div>
    <div class="row clearfix">
      <!--Featured Service -->
      <div class="featured-service col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="image-box">
            <figure class="image">
              <a href="#"
                ><img
                  src="{% static 'images/resource/featured-image-1.jpg' %}"
                  alt=""
              /></a>
            </figure>
            <div class="caption-box">
              <div class="icon">
                <span class="flaticon-tropical-pineapple"></span>
              </div>
              <h4 class="title">
                <a href="#">Natural Food</a>
              </h4>
            </div>
            <!--Overlay-->
            <div class="overlay-box">
              <div class="icon-box">
                <span class="flaticon-tropical-pineapple"></span>
              </div>
              <div class="overlay-inner">
                <div class="overlay-content">
                  <h4 class="title">
                    <a href="#">Natural food</a>
                  </h4>
                  <div class="text">
                 Natural foods, or whole foods (fresh whole fruits, vegetables, whole grains, seeds, nuts,
                  beans and legumes) have been provided for us by nature. They are the perfect foods for our bodies to thrive and survive on.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Featured Service -->
      <div class="featured-service col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="image-box">
            <figure class="image">
              <a href=""
                ><img
                  src="{% static 'images/plan.jpeg' %}"
                  alt=""
              /></a>
            </figure>
            <div class="caption-box">
              <div class="icon"><span class="flaticon-sneaker"></span></div>
              <h4 class="title">
                <a href="#">Nutrition Strategies</a>
              </h4>
            </div>
            <!--Overlay-->
            <div class="overlay-box">
              <div class="icon-box"><span class="flaticon-sneaker"></span></div>
              <div class="overlay-inner">
                <div class="overlay-content">
                  <h4 class="title">
                    <a href="">Nutrition Strategies</a>
                  </h4>
                  <div class="text">
                  a nutrition strategy, based on the Zone diet by US biochemist Dr
                  . Barry Sears is proposed. It underlines the importance of choosing certain types of foods 
                  over others, their beneficial physiological effects on the human body and how they can reduce the risk of heart disease and cancer.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Featured Service -->
      <div class="featured-service col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="image-box">
            <figure class="image">
              <a href="#"
                ><img
                  src="{% static 'images/plans.jpeg' %}"
                  alt=""
              /></a>
            </figure>
            <div class="caption-box">
              <div class="icon"><span class="flaticon-exercise"></span></div>
              <h4 class="title">
                <a href="#">Dialy Exercise</a>
              </h4>
            </div>
            <!--Overlay-->
            <div class="overlay-box">
              <div class="icon-box">
                <span class="flaticon-exercise"></span>
              </div>
              <div class="overlay-inner">
                <div class="overlay-content">
                  <h4 class="title">
                    <a href="#">Dialy Exercise</a>
                  </h4>
                  <div class="text">
                activity a week, or a combination of moderate and vigorous activity. The guidelines
                 suggest that you spread out this exercise during the course of a week. Greater amounts
                  of exercise will provide even greater health benefit.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Why Us -->

<!-- Parallax Section -->
<section
  class="parallax-section"
  style="background-image: url(/static/images/background/1.jpg)"
>
  <div class="auto-container">
    <div class="row clearfix">
      <div class="parallax-content col-md-8 col-sm-12">
        <div class="inner-box">
          <h2 class="title">It is time to BALANCE your life & nourish your soul</h2>
          <div class="text">
            Start working on your body today, and with our individual nutrition plan
            program, already in 90 days you will see a totally different  in 
            the mirror!
          </div>
          <div class="link">
            <a href="#" class="theme-btn btn-style-four"
              >More info</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Parallax Section -->

<!--Default Section-->
<section class="default-section">
  <div class="auto-container">
    <div class="row clearfix">
      <!--Accordions Column-->
      <div class="column col-md-6 col-sm-12 col-xs-12">
        <div class="inner-box">
          <!--Accordion Box-->
          <ul class="accordion-box">
            <!--Block-->
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <span class="icon fa fa-caret-right"></span>
                </div>
                A Natural way of improving your Daibetis.
              </div>
              <div class="acc-content">
                <div class="content">
                  <img src="{% static 'images/resource/glass.png" alt="" />
                  <p>
                    Health Coach look at exercise, eating, wellness and food not
                    just as calories and weight loss, but also emotional,
                    mental, physical, and spiritual terms. An Integrative with
                    Nutrition Health Coach who’s providing services in area
                    knows like state of mind, health.
                  </p>
                </div>
              </div>
            </li>

            <!--Block-->
            <li class="accordion block active-block">
              <div class="acc-btn active">
                <div class="icon-outer">
                  <span class="icon fa fa-caret-right"></span>
                </div>
                A Natural way of improving your Hypertitis.
              </div>
              <div class="acc-content current">
                <div class="content">
                  <img src="{% static 'images/resource/glass.png" alt="" />
                  <p>
                    Health Coach look at exercise, eating, wellness and food not
                    just as calories and weight loss, but also emotional,
                    mental, physical, and spiritual terms. An Integrative with
                    Nutrition Health Coach who’s providing services in area
                    knows like state of mind, health.
                  </p>
                </div>
              </div>
            </li>

            <!--Block-->
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <span class="icon fa fa-caret-right"></span>
                </div>
                A Natural way of improving your Ulcer.
              </div>
              <div class="acc-content">
                <div class="content">
                  <img src="{% static 'images/resource/glass.png" alt="" />
                  <p>
                    Health Coach look at exercise, eating, wellness and food not
                    just as calories and weight loss, but also emotional,
                    mental, physical, and spiritual terms. An Integrative with
                    Nutrition Health Coach who’s providing services in area
                    knows like state of mind, health.
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <!--End Accordion Box-->
        </div>
      </div>

      <!--Text Column-->
      <div class="column video-column col-md-6 col-sm-12 col-xs-12">
        <div class="inner-box">
          <!--featured-image-box-->
          <div class="video-image-box">
            <figure class="image">
              <img src="{% static 'images/nutri.jpeg' %}" alt="" />
              <a
                href="https://www.youtube.com/watch?v=a18py61_F_w"
                class="video-link lightbox-image"
              >
                <span class="fa fa-play-circle-o"></span
              ></a>
            </figure>
            <div class="caption-box">
              “ Watch our video to learn how these expert system can transform and improved your health
              revolution ! “
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Default Section -->


<!-- Serivces -->
<section
  class="services-section"
  style="background-image: url(images/background/2.jpg)"
>
  <div class="auto-container">
    <div class="sec-title text-center">
      <h2>Start With <strong>top categories</strong></h2>
      <span>Our Successful Services</span>
    </div>

    <div class="row clearfix">
      <!-- Service Blcok -->
      <div class="service-block col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="title-box">
            <h3><a href="services-single.html">Nutrition Strategies For Diabetis</a></h3>
          </div>
          <div class="content-box">
            <div class="icon-box"><span class="flaticon-pepper"></span></div>
            <div class="text">
              Provides a professional dietary and nutrition consulting service
              aimed to helping you achieve.
            </div>
          </div>
        </div>
      </div>

      <!-- Service Blcok -->
      <div class="service-block col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="title-box">
            <h3><a href="services-single.html">Nutrition Strategies Hypertitis</a></h3>
          </div>
          <div class="content-box">
            <div class="icon-box">
              <span class="flaticon-skipping-rope"></span>
            </div>
            <div class="text">
              Finding a workout is easy scrolling down, picking out the session
              that matches your goals.
            </div>
          </div>
        </div>
      </div>

      <!-- Service Blcok -->
      <div class="service-block col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="title-box">
            <h3><a href="services-single.html">Nutrition Strategies For Ulcers </a></h3>
          </div>
          <div class="content-box">
            <div class="icon-box"><span class="flaticon-heartbeat"></span></div>
            <div class="text">
              We cannot always expect each of our clients to maintain a
              consistent level of motivation.
            </div>
          </div>
        </div>
      </div>

      <!-- Service Blcok -->
      <div class="service-block col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="title-box">
            <h3><a href="services-single.html">First Hand Advice</a></h3>
          </div>
          <div class="content-box">
            <div class="icon-box"><span class="flaticon-chat"></span></div>
            <div class="text">
              Provides a professional dietary and nutrition consulting service
              aimed to helping you achieve.
            </div>
          </div>
        </div>
      </div>

      <!-- Service Blcok -->
      <div class="service-block col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="title-box">
            <h3><a href="services-single.html">Individual Coaching</a></h3>
          </div>
          <div class="content-box">
            <div class="icon-box">
              <span
                class="flaticon-individual-gymnast-practice-with-a-ball"
              ></span>
            </div>
            <div class="text">
              Finding a workout is easy scrolling down, picking out the session
              that matches your goals.
            </div>
          </div>
        </div>
      </div>

      <!-- Service Blcok -->
      <div class="service-block col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="title-box">
            <h3><a href="services-single.html">Support & Motivation</a></h3>
          </div>
          <div class="content-box">
            <div class="icon-box"><span class="flaticon-diploma"></span></div>
            <div class="text">
              We cannot always expect each of our clients to maintain a
              consistent level of motivation.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- News Section -->
<section class="news-section">
  <div class="auto-container">
    <div class="sec-title text-center">
      <h2>News <strong>Articles &amp; Tips</strong></h2>
      <span>Latest News Blogs </span>
    </div>

    <div class="row clearfix">
      <!-- News Block -->
      <div class="news-block col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="image-box">
            <a href="#"
              ><img style="height: 250px;" src="{% static 'images/ff.jpeg' %}" alt=""
            /></a>
          </div>
          <div class="lower-box">
            <a href="#" class="tag">Recipes</a>
            <ul class="post-meta">
              <li><a href="#">august 21, 2021</a></li>
              <li><a href="#">10 Comments </a></li>
            </ul>
            <h3>
              <a href="#"
                >What is a “Healthy” Food? The Answer Will Surprise You</a
              >
            </h3>
            <div class="text">
              pleasure and praising pain was born I will give you a complete
              account of the system, and expound actual teachings great.
            </div>
          </div>
        </div>
      </div>

      <!-- News Block -->
      <div class="news-block col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="image-box">
            <a href="#"
              ><img style="height: 250px;" src="{% static 'images/resource/blog2.jpg' %}" alt=""
            /></a>
          </div>
          <div class="lower-box">
            <a href="#" class="tag">Fitness</a>
            <ul class="post-meta">
              <li><a href="#">Feburary 05, 2018 </a></li>
              <li><a href="#">24 Comments </a></li>
            </ul>
            <h3>
              <a href="#"
                >Stop Getting Annoyed If You Want Better Health</a
              >
            </h3>
            <div class="text">
              pleasure and praising pain was born I will give you a complete
              account of the system, and expound actual teachings great.
            </div>
          </div>
        </div>
      </div>

      <!-- News Block -->
      <div class="news-block col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="image-box">
            <a href="#"
              ><img style="height: 250px;" src="{% static 'images/f.jpeg' %}" alt=""
            /></a>
          </div>
          <div class="lower-box">
            <a href="#" class="tag">Crossfit</a>
            <ul class="post-meta">
              <li><a href="#">January 14, 2018 </a></li>
              <li><a href="#">18 Comments</a></li>
            </ul>
            <h3>
              <a href="#"
                >Build an Athletic Body With In Eight Weeks Time</a
              >
            </h3>
            <div class="text">
              pleasure and praising pain was born I will give you a complete
              account of the system, and expound actual teachings great.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End News Section -->

<!--- Full With Section -->
<section class="fluid-section-one">
  <div class="outer-container clearfix">
    <!--Image Column-->
    <div
      class="image-column"
      style="background-image: url(images/resource/woman-with-ball.jpg)"
    >
      <figure class="image-box">
        <img src="{% static 'images/resource/woman-with-ball.jpg' %}" alt="" />
      </figure>
    </div>
    <!--Content Column-->
    <div class="content-column">
      <div class="inner-box">
        <!--Title-->
        <div class="sec-title">
          <h2>Make <strong>an Appointment</strong></h2>
          <span>Request For Consultation </span>
        </div>

        <div class="form-box default-form">
          <form
            method="post"
            action="https://html.efforttech.com/html/tone-healthcoach/contact.html"
          >
            <div class="form-group">
              <div class="field-inner">
                <input
                  type="text"
                  name="field-name"
                  value=""
                  placeholder="Name"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <div class="field-inner">
                <input
                  type="email"
                  name="field-email"
                  value=""
                  placeholder="Email"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <div class="field-inner">
                <textarea name="field-name" placeholder="Message"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="field-inner">
                <button type="submit" class="theme-btn btn-style-three">
                  Submit Now
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="info">
          <p>
            <strong>For Enquiry:</strong> For Enquiry fill our short feedback
            form or you can also send us an email and we’ll get in touch
            shortly, or Toll Free Number – 090 3219 6744
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--- End Full With Section -->

{% endblock %}
