<!-- Footer -->
{% load static %}
<footer class="main-footer">
  <div class="auto-container">
    <!--Widgets Section-->
    <div class="widgets-section">
      <div class="row clearfix">
        <!--Big Column-->
        <div class="big-column col-md-6 col-sm-12 col-xs-12">
          <div class="row clearfix">
            <!--Footer Column-->
            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
              <div class="footer-widget about-widget">
                <div class="footer-logo">
                  <figure>
                    <a href="index-2.html"
                      ><img src="images/footer-logo.png" alt=""
                    /></a>
                  </figure>
                </div>
                <div class="widget-content">
                  <div class="text">
                    Health nutritional bot brings experience right to your home
                    or office at your finger tip. professionals are to help you
                    determine.
                  </div>
                  <ul class="contact-info">
                    <li class="address">
                      <span class="icon fa fa-map-marker"></span>
                      Address: 15, gora street 20 kakuri kaduna south, NIGERIA
                    </li>
                    <li>
                      <span class="icon fa fa-volume-control-phone"></span>
                      Phone: (090) 3219 6744
                    </li>
                    <li>
                      <span class="icon fa fa-envelope"></span>
                      Email: godwinomale2020@gmail..com
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!--Footer Column-->
            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
              <div class="footer-widget links-widget">
                <h2>Quick Links</h2>
                <div class="widget-content">
                  <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <ul class="list">
                        <li><a href="#">About Us</a></li>

                        <li><a href="#">News & Tips</a></li>

                        <li><a href="#">Contact Us</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <ul class="list">
                        <li><a href="#">chatbor</a></li>
                        <li><a href="#">Healthy Food</a></li>

                        <li><a href="#">Private Policy</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="footer-widget social-widget clearfix">
                <h2>Follow Us:</h2>
                <div class="widget-content">
                  <ul class="social-list clearfix">
                    <li>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-dribbble"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Big Column-->
        <div class="big-column col-md-6 col-sm-12 col-xs-12">
          <div class="row clearfix">
            <!--Footer Column-->
            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
              <div class="footer-widget posts-widget">
                <h2>Recent News</h2>
                <div class="widget-content">
                  <div class="posts">
                    <div class="post">
                      <figure class="post-thumb">
                        <img src="{% static 'images/ff.jpeg' %}" alt="" />
                        <a href="#" class="overlay-link">
                          <span class="fa fa-link"></span>
                        </a>
                      </figure>
                      <div class="desc-text">
                        <a href="#">What is a “Healthy” Food? The Answer ...</a>
                      </div>
                      <div class="time">june 14, 2021</div>
                    </div>

                    <div class="post">
                      <figure class="post-thumb">
                        <img src="{% static 'images/f.jpeg' %}" alt="" />
                        <a href="#" class="overlay-link">
                          <span class="fa fa-link"></span>
                        </a>
                      </figure>
                      <div class="desc-text">
                        <a href="#">Build an Athletic Body With In Eight ...</a>
                      </div>
                      <div class="time">august 14, 2021</div>
                    </div>

                    <div class="post">
                      <figure class="post-thumb">
                        <img src="{% static 'images/ff.jpeg' %}" alt="" />
                        <a href="#" class="overlay-link">
                          <span class="fa fa-link"></span>
                        </a>
                      </figure>
                      <div class="desc-text">
                        <a href="#"
                          >Stop Getting Annoyed If You Want Better ...</a
                        >
                      </div>
                      <div class="time">February 14, 2017</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Footer Column-->
            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
              <div class="footer-widget work-hours">
                <h2>Working Hours</h2>
                <div class="widget-content">
                  <ul class="time-table">
                    <li>Mon-Friday: <span>00:00 to 00:00</span></li>
                    <li>Saturday: <span>00.00 to 00.00</span></li>
                    <li>Sunday: <span class="colored">00.00 to 00.00</span></li>
                  </ul>
                </div>
              </div>

              <div class="footer-widget newsletter-widget">
                <h2>Newsletter</h2>
                <div class="widget-content">
                  <div class="text">Find out latest news and discounts:</div>
                  <!--Newsletter One-->
                  <div class="newsletter-one">
                    <form method="post" action="#">
                      <div class="form-group">
                        <input
                          type="email"
                          name="email"
                          value=""
                          required
                          placeholder="Email Address"
                        />
                        <button type="submit" class="theme-btn">
                          <span class="fa fa-paper-plane"></span>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Footer Bottom-->
  <div class="footer-bottom">
    <div class="auto-container">
      <div class="copyright-text">
        <h4>
          Copyrights &copy; 2021 All Rights Reserved, Design By
          <a href="#">OMALE</a>
        </h4>
      </div>
    </div>
  </div>
</footer>
